<nav class="navbar navbar-expand-lg" style="background-color: rgb(121, 109, 7)">
  <div class="container-fluid" style="font-family:Georgia, 'Times New Roman', Times, serif ;background-color: rgb(121, 109, 7) ;">
    <a class="navbar-brand" href="#" style="font-size: xx-large; color: aliceblue;">Suscripción</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="tipo" style="font-size: x-large; color: aliceblue;">Planes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="background-color:#e4dbc1;">
  <br>
  <div class="container" style="font-family:Georgia, 'Times New Roman', Times, serif ;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 bg-light mb-3" style="max-width: 22rem;">
          <br>
          <div class="card-body">
            <h3 class="card-title green-color">Plan Individual</h3>
            <p class="card-text">Esta suscripción es para uso personal. Se permite el acceso a un usuario y hasta dos
              dispositivos.
              Cancela cuando quieras.</p>
            <h5 class="card-text">Precio final por mes: </h5>
            <h4 class="right">**1499 ARS</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-light mb-3" style="max-width: 22rem;">
          <br>
          <div class="card-body">
            <h3 class="card-title purple-color">Plan Dúo</h3>
            <p class="card-text">Esta suscripción incluye acceso para hasta dos miembros. Se permiten hasta cuatro
              dispositivos.
              Cancela cuando quieras.</p>
            <h5 class="card-text">Precio final por mes: </h5>
            <h4 class="right">**2299 ARS</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-light mb-3" style="max-width: 22rem;">
          <br>
          <div class="card-body">
            <h3 class="card-title red-color">Plan Familiar</h3>
            <p class="card-text">Esta suscripción incluye acceso para hasta cuatro miembros. No se restringe la cantidad
              de
              dispositivos.
              Cancela cuando quieras.</p>
            <h5 class="card-text">Precio final por mes: </h5>
            <h4 class="right">**3199 ARS</h4>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
</div>

